{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Log In </title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_ico/favicon-16x16.png' %}">

        <center><h2 style="color: whitesmoke"> News and Weather App </h2></center>
        
        <nav>
            <a style="margin: 10px" href="/homeapp/">Home</a>
            <a style="margin: 10px" href="/homeapp/forecast">Get Weather</a>
        </nav>
    </head>
 
    <body>
     

        <div class="containers">
            <center>
                <font face="sans-serif";
                <br>
            <h3>Log In</h3>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            <a href="{% url 'password_reset' %}">Forgot your password?</a>
            <br>
            <button type="submit">Log In</button>
            <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
            </form>
        </font>
            </center>
        </div>
    </body>
</html>
