{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Password Reset </title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_ico/favicon-16x16.png' %}">

        <center><h2 style="color: whitesmoke"> News and Weather App </h2></center>
        
        <nav>
            <a style="margin: 10px" href="/homeapp/">Home</a>
            <a style="margin: 10px" href="/homeapp/forecast">Get Weather</a>
        </nav>
    </head>
 
    <body>

        <div class="containers">
            <center>
                <font face="sans-serif";>
            <h2> Password Reset </h2>
       
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
           
                <button type="submit"> Submit</button>
            </font>
            </form>
       </center>
        </div>
    </body>
</html>
