{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> My To Do's </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_ico/favicon-16x16.png' %}">
        
        <center><h2 style="color: whitesmoke"> Weather App </h2></center>

        <nav>
            {% if user.is_authenticated %}
              <a style="margin: 10px" href="/homeapp/">Return Home</a>
              <a style="margin: 10px" href="/homeapp/forecast">Get Weather</a>
              <a style="float: right; margin-right: 10px;" href="{% url 'logout' %}?next=/homeapp/">Logout</a>
          </nav>
    </head>
    
    <body>
        {% if user.is_authenticated %}
            <h3 id="user_greeting">Welcome, {{ request.user.first_name }}!</h3>
        {% endif %}

      <div class="containers" id="todo_container">
        <center>
            <h3> My To-Do's</h3>
            <form action="addTodo/" method="post">
                {% csrf_token %}
                <input type="text" name="content" required="True">
                <input type="submit" value="Add Todo">
            </form> 
        </center>
            <ul>
                {% for i in all_items %} 
                <li>
                    <form action="deleteTodo/{{i.id}}/" method = "post">
                        {% csrf_token %}
                        <input id="delete_button" type="submit" value="X">
                        {{i.content}}
                    </form>
               </li>
                {% endfor %}
            </ul>  
                            
        </div>
        {% else %}
            <P>Please log in</P>
        {% endif %}
  </body>
</html>