{% load static %}
<html lang="en">
    <head>
        <title>Weather</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_ico/favicon-16x16.png' %}">
    
        <center><h2 style="color: whitesmoke"> Weather App </h2></center>
        
        <nav>
            <a style="margin: 10px" href="/homeapp/">Return Home</a>
            {% if user.is_authenticated %}
                <a style="margin: 10px" href="/homeapp/todos/"> My To-Do List</a>
                <a style="float: right; margin-right: 10px;" href="{% url 'logout' %}?next=/homeapp/">Logout</a>
            {% else %}
                <div id="login_logout">
                    <a style="margin: 10px" href="/homeapp/login/"> Login</a>
                    <a style="margin: 10px" href="/homeapp/register/"> Sign Up</a>
                </div>
            {% endif %}
        </nav>
    </head>
    <body>
        {% if user.is_authenticated %}
            <h3 id="user_greeting">Welcome, {{ request.user.first_name }}!</h3>
        {% else %}
            <br>
        {% endif %}
        <div class="containers" id="weather_search">
            <center>
                <form method="post" style="margin-bottom: 0;">
                    {% csrf_token %}
                    <b><label for="city_search"> Get Weather &emsp;</label></b>
                    <input type="text" id="city_search" name="city" placeholder="Search" required="True">
                    <button type="submit">Submit</button>
                </form>
            </center>
        </div>
        <br>
        <div>
            <center>  
                {% if current_condtions %}
                    <div class="containers" id="weather_container">
                        <h2>Current Conditions for {{current_condtions.name}}</h2>
                        <br/>
                        <img src="http://openweathermap.org/img/w/{{current_condtions.cur_icon}}.png" width="85px" />
                        <p>{{current_condtions.cur_discrpition}}</p>
                        <p>Temperature : {{current_condtions.cur_temp}} &emsp;&emsp; Feels like: {{current_condtions.feels_like}}</p>
                    </div>
                {% endif %}
            </center>
        </div>

        {% if city_name %}
            <div class="containers" id="forcastContainer">
                   
                <center>
                    <h2 id="forcast_header">Five Day Forecast for {{city_name}}</h2>
                </center>

                <div id="dataContainer">
                    <div class="data">
                        <b><p>{{current_day}}</p></b>
                        <div><img src="http://openweathermap.org/img/w/{{icon1}}.png"></div>
                        <p>Max: {{temp_max1}} </p>
                        <p>Min: {{temp_min1}} </p>
                    </div>
                    <div class="data">
                        <b><p>{{day2}}</p></b>
                        <div><img src="http://openweathermap.org/img/w/{{icon2}}.png"></div>
                        <p>Max: {{temp_max2}} </p>
                        <p>Min: {{temp_min2}} </p>
                    </div>
                    <div class="data">
                        <b><p>{{day3}}</p></b>
                        <div><img src="http://openweathermap.org/img/w/{{icon3}}.png"></div>
                        <p>Max: {{temp_max3}} </p>
                        <p>Min: {{temp_min3}} </p>
                    </div>
                    <div class="data">
                        <b><p>{{day4}}</p></b>
                        <div><img src="http://openweathermap.org/img/w/{{icon4}}.png"></div>
                    <p>Max: {{temp_max4}} </p>
                        <p>Min: {{temp_min4}} </p>
                    </div>
                    <div class="data">
                        <b><p>{{day5}}</p></b>
                        <div><img src="http://openweathermap.org/img/w/{{icon5}}.png"></div>
                        <p>Max: {{temp_max5}} </p>
                        <p>Min: {{temp_min5}} </p>
                    </div>
                </div>
            </div>
        {% endif %}
    </body>
</html>